@model UI.Models.gravityViewModel

@{
    ViewBag.Title = "gravresults";
}

<h2>Gravity Results</h2><br /><br />

OG: @Html.DisplayFor(model => model.ogGrav)<br />
FG: @Html.DisplayFor(model => model.fgGrav)<br /><br />
ABV: @Html.DisplayFor(model => model.abv)


